@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.input {
		@apply min-h-[36px] rounded-[4px] py-2 px-4 border-2 border-gray-200 focus:outline-[var(--c-primary-hover)];
	}

	.button {
		@apply select-none w-fit flex items-center gap-2 rounded-sm text-lg font-medium px-4 py-1.5 cursor-pointer duration-150 box-content;
	}
	.button-filled {
		@apply button text-white bg-[var(--c-primary)] hover:bg-[var(--c-primary-hover)];
	}
	.button-outline {
		@apply button border-2 border-[var(--c-primary)] text-[var(--c-primary)] hover:bg-[var(--c-primary-hover)] hover:text-white;
	}
	.page-content {
		@apply max-w-screen-2xl mx-auto py-5 px-5;
	}

	.blurred-glass {
		@apply backdrop-blur-md bg-gray-800/30 border-gray-50/10;
	}
}

:root {
	/* palette */
	--c-primary: #4e63f0;
	--c-primary-hover: #4659d6;
}

* {
	box-sizing: content-box;
}
